Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

objectives

1. creating jupyter notebooks
2. writing code
3. creating markdown cells

Some of the popular languages that Data Scientists use are:

1. c
2. python
3. java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas 
2. NumPy 
3. SciPy  
4. Matplotlib

Data Science Tools

Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

Author

Reoney Iral Madtha